.logo {
  display: block;
  margin: auto;
}
/* .Tab {
  padding-top: 4px;
  padding-bottom: 8px;
} */
.menu-container {
  display: flex;
  flex-direction: column;
  min-height: 75vh;
  justify-content: space-between;
}
.msg {
  border-radius: 20px 20px 20px 8px;
  border: 0.5px solid #b5cadd;
  background: #fff;
  padding: 12px;
}
.button-group {
  vertical-align: bottom;
}
.home-text {
  width: 60%;
  align-self: center;
}
.text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
}
/* .header {
  text-align: center;
} */
